Create a new cat!

<%= render 'cat_form', cat: @cat, action: :new %>

<%# <form action="<%= cats_url %>
  <!-- " method="post"> -->
  <!-- <label>
    Name:
    <input type="text" name="cat[name]" value="">
  </label>
  <br>
  <label>
    Birthday:
    <input type="date" name="cat[birth_date]" value="">
  </label>
  <br>

  <label>
    Please select a color:
    <select type="text" name="cat[color]" value="">
      <option value="Brown">Brown</option>
      <option value="Blue">Blue</option>
      <option value="Hairless">Hairless</option>
    </select>
  </label>
  <br>

  <label>
    Cat's sex:
    <input type="radio" name="cat[sex]" value="M"> Male
    <input type="radio" name="cat[sex]" value="F"> Female
  </label>
  <br>

  <label>
    description:
    <!-- <input type="textarea" name="cat[description]" value=""> -->
    <!-- <textarea name="cat[description]" rows="8" cols="80"></textarea>
  </label>

  <input type="submit" name="" value="Add cat to database!"> -->
<!-- </form> -->
